catboost
joblib
lightgbm
optuna
streamlit
xgboost
markupsafe
zenml
pandas
numpy
scikit-learn
matplotlib



#mlflow ui --backend-store-uri "file:C:\Users\manoj\AppData\Roaming\zenml\local_stores\3b296eea-aa44-42ca-beab-b8e4068563ec\mlruns"

#mlflow models build-docker -m "file:C:\Users\manoj\AppData\Roaming\zenml\local_stores\3b296eea-aa44-42ca-beab-b8e4068563ec\mlruns" -n customer_satisfaction

#mlflow models serve -m 'runs:/e09cd168c8fb439fb65fa69ed0b81ca9/model' -p 5000 --host 0.0.0.0

